---
import '@site/styles/blog-content.css';
import Layout from '@site/layouts/Layout.astro';
import Header from '@site/components/Header.astro';

import {getAllPosts, getPost} from '@site/lib/blog/data';

export async function getStaticPaths() {
  const data = await getAllPosts();
  const allPosts = data.publication.posts.edges;
  return allPosts.map((post: { node: { slug: any; }; }) => {
    return {params: { slug: post.node.slug }}
  })
}
const { slug } = Astro.params;
const post = await getPost(slug);
---

<Layout title={`${post.title} | blog`}>
	<Header />
  <section class="flex flex-col gap-8 py-8 px-8 lg:px-16 xl:px-32 w-full">
    <div class="flex flex-col gap-2">
      <span class="text-[2.25rem] font-header text-on-surface font-bold pt-5">{post?.title}</span>
      <span class="font-medium text-outline">{post.subtitle}</span>
    </div>
    <img 
        class="rounded-2xl h-96 w-full object-cover" 
        src={post.coverImage?.url} 
        alt={post.title} />
    <article class="px-2 md:px-4 lg:px-12 xl:px-24">
        <div class="flex flex-col gap-4">
          <p class="w-full" set:html={post?.content?.html} />
        </div>
    </article>
  </section>
</Layout>
